<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <sitemap>
      <!-- Define all of your managed sites here -->
      <site name="website">
        <includeBaseTemplates>
          <!-- List the base templates to be included in sitemap.xml -->
          <!-- 
          <template>{guid}</template>
          -->
        </includeBaseTemplates>
        <includeTemplates>
          <!-- List specific templates to be included in sitemap.xml -->
          <!-- 
          <template>{guid}</template>
          -->
        </includeTemplates>
        <excludeItems>
          <!-- List specific items to be EXcluded from sitemap.xml -->
          <!-- 
          <item>{guid}</item>
          -->
        </excludeItems>
      </site>
    </sitemap>

    <!-- Sitemap.xml generation pipeline -->
    <pipelines>
      <createSitemapXml>
        <!-- This is the default, index-based sitemap.xml pipeline processor. Replace this one if you prefer a different strategy than using the index. -->
        <processor type="LD.Sitemap.Xml.Pipelines.DefaultSitemapXmlProcessor, Sitemap.Xml">
          <param desc="The index to use (leave empty to use default index)"></param>
        </processor>
        <!-- Add more processors here to index other kinds of data -->
      </createSitemapXml>
    </pipelines>
  </sitecore>
</configuration>